*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: Dosis,sans-serif;
    font-weight: 400;
}
body{
    background: linear-gradient(90deg,#004fd6,#b71c1c,#004fd6);
    z-index: -1;
}

.fa-solid{
   cursor: pointer;
   width: auto;
   height: auto;
   border: none;
   border-radius: 50%;
   padding: 10px;
   font-size: 35px;
   background-color: transparent;
   
}
.fa-check:hover{
    background-color: hsl(123, 39%, 55%);
}
.fa-trash:hover{
    background-color: hsl(357, 45%, 51%);
}
.p-container{
    padding:50px;
    padding-bottom: 150px;
    text-align: center;
    position: relative;
    height: auto;
    width:80%;
    max-width: 900px;
    top:100px;
    left: 50%;
    border-radius: 20px;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255,0.1);
    display: flex;
    flex-direction: column;
}
.title h1{
    font-weight: 700;
    color:rgb(8, 6, 6);
    margin-bottom: 50px;
}
.intro-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
input{
    width:70%;
    height:45px;
    font-size: 16px;
    padding-left: 20px;
    border-radius: 20px;
    border: none;
}
.intro-data button{
    width: 90px;
    height: 45px;
    background: linear-gradient(90deg,#02ad11,#149e1b);
    border-radius: 20px;
    border: none;
    cursor:pointer;
    font-size: 18px;
    font-weight:700;
    color:rgb(255, 255, 255);
}
.task{
    height:40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:15px;
    margin-top: 25px;
    padding: 5px;
}
.unchecked{
    width:70%;
    display: flex;
    align-items: center;
    border:1px solid white;
    height: 40px;
    border-radius: 13px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    color:white;
    font-size: 25px;
    opacity: 0.95;
}
.checked{
    width:70%;
    display: flex;
    align-items: center;
    border: none;
    height: 40px;
    border-radius: 13px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
    color:white;
    font-size: 25px;
    background-color: #149e1b;
    opacity: 0.6;
    text-decoration: line-through;
}
.inactive{
    background-color: transparent;
    border: none;
}
.active{
    background-color: transparent;
    border: none;
}
.remove-btn{
    background-color: transparent;
    border: none;
}

@media only screen and (max-width:800px){
    .p-container{
        width: 90%;
    }
    .check-btn svg{
        margin-right:0;
    }
    .remove-btn svg{
        margin-left: 0;
    }
}
@media only screen and (max-width:630px){
    .intro-data{
        display: flex;
        flex-direction: column;
        gap:20px;
    }
    input{
        width:90%
    }
    .intro-data button{
        width: 90%;
    }
    .task{
        gap:8px;
    }
   
    
}